################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
/.tools
*.manifest
*.exe
/Packages
*.suo
*.orig
*.user
/target/**/*
/drop/**/*
*.cache
*.projhash
*.slnhash
/**/.vscode
/init.log
/Logs/**/*
/solutions/**/packages/*
/solutions/*/solution/templates/**
/tools/**/packages/*
*.nlp
/solutions/ClientUtility/Client/**/*.js
!/solutions/ClientUtility/Client/External/*.js
/solutions/ClientUtility/Client/**/*.d.ts
/solutions/ClientUtility/Package/WebResources/**/*.*
/solutions/LeadManagement/Client/**/*.js
/solutions/LeadManagement/Client/**/*.d.ts
/solutions/LeadManagement/Package/WebResources/**/*.*
/solutions/ProductManagement/Client/**/*.js
!/solutions/ProductManagement/Client/_static/**/*.js
/solutions/ProductManagement/Client/**/*.d.ts
/solutions/ProductManagement/Package/WebResources/**/*.*
/solutions/Sales/Application/ObjectModel/Entities/System.Runtime.Serialization.dll
/solutions/Sales/Application/ObjectModel/Entities/System.Core.xml
/solutions/Sales/Application/ObjectModel/Entities/System.Core.dll
/solutions/Sales/Application/ObjectModel/Entities/mscorlib.dll
/solutions/Sales/Application/ObjectModel/Entities/Microsoft.Dynamics.Solution.Common.pdb
/solutions/Sales/Application/ObjectModel/Entities/Microsoft.Dynamics.Solution.Common.dll
/solutions/Sales/Application/ObjectModel/Entities/Microsoft.Crm.Solutions.Sales.Entities.pdb
/solutions/Sales/Application/ObjectModel/Entities/Microsoft.Crm.Solutions.Sales.Entities.dll
/solutions/Sales/Application/ObjectModel/Services/System.Xml.Linq.xml
/solutions/Sales/Application/ObjectModel/Services/System.Xml.Linq.dll
/solutions/Sales/Application/ObjectModel/Services/System.Workflow.Runtime.dll
/solutions/Sales/Application/ObjectModel/Services/System.Workflow.ComponentModel.dll
/solutions/Sales/Application/ObjectModel/Services/System.Workflow.Activities.dll
/solutions/Sales/Application/ObjectModel/Services/System.Web.Extensions.xml
/solutions/Sales/Application/ObjectModel/Services/System.Web.Extensions.dll
/solutions/Sales/Application/ObjectModel/Services/System.Web.Abstractions.xml
/solutions/Sales/Application/ObjectModel/Services/System.Web.Abstractions.dll
/solutions/Sales/Application/ObjectModel/Services/System.ServiceModel.dll
/solutions/Sales/Application/ObjectModel/Services/System.Runtime.Serialization.dll
/solutions/Sales/Application/ObjectModel/Services/System.Core.xml
/solutions/Sales/Application/ObjectModel/Services/System.Core.dll
/solutions/Sales/Application/ObjectModel/Services/mscorlib.dll
/solutions/Sales/Application/ObjectModel/Services/Microsoft.Dynamics.Solution.Common.pdb
/solutions/Sales/Application/ObjectModel/Services/Microsoft.Dynamics.Solution.Common.dll
/solutions/Sales/Application/ObjectModel/Services/Microsoft.Crm.Solutions.Sales.ObjectModel.pdb
/solutions/Sales/Application/ObjectModel/Services/Microsoft.Crm.Solutions.Sales.ObjectModel.dll
/solutions/Sales/Common/System.Core.xml
/solutions/Sales/Common/System.Core.dll
/solutions/Sales/Common/Microsoft.Dynamics.Solution.Common.pdb
/solutions/Sales/Common/Microsoft.Dynamics.Solution.Common.dll
/solutions/Sales/Common/Microsoft.Dynamics.Sales.Common.pdb
/solutions/Sales/Common/Microsoft.Dynamics.Sales.Common.dll
/solutions/Sales/Client.UnitTests/**/*.js
/solutions/Sales/Client/**/*RibbonActions.js
/solutions/Sales/Client/System.Core.xml
/solutions/Sales/Client/System.Core.dll
/solutions/Sales/Client/mscorlib.dll
/solutions/Sales/Client/Microsoft.Dynamics.Sales.WebResources.pdb
/solutions/Sales/Client/Microsoft.Dynamics.Sales.WebResources.dll
/solutions/Sales/Client/Microsoft.Dynamics.CRM.Client.Common.pdb
/solutions/Sales/Client/Microsoft.Dynamics.CRM.Client.Common.dll
/solutions/TypeDefinitions/*
!/solutions/TypeDefinitions/AppCommon/
/solutions/TypeDefinitions/AppCommon/*
!/solutions/TypeDefinitions/AppCommon/ClientCommon
!/solutions/TypeDefinitions/CRM/
!/solutions/TypeDefinitions/Sales/
!/solutions/TypeDefinitions/Marketing/
/solutions/TypeDefinitions/Sales/DynamicProperty
!/solutions/TypeDefinitions/**/Localization/*.d.ts
/solutions/AppCommon/Client/Account/**/*.js
/solutions/AppCommon/Client/Contact/**/*.js
/solutions/AppCommon/Client/QueueItem/**/*.js
/solutions/AppCommon/Client/Territory/**/*.js
/solutions/AppCommon/Client/Commands/**/*.js
/solutions/AppCommon/Client/CommandActions/**/*.js
/solutions/AppCommon/Client/Localization/**/*.js
/solutions/AppCommon/Client/Localization/**/*.d.ts
/solutions/AppCommon/Client/AppCommon/*.js
/solutions/AppCommon/Package/WebResources/**/*.*
/solutions/AppCommon/Client/ControlWS/**/*.js
/solutions/AppCommon/Client/ControlWS/**/*.d.ts
/solutions/AppCommon/Client/Controls/FREShell/libs
/solutions/Service/Application/ObjectModel/Services/Microsoft.Xrm.Sdk.xml
/solutions/Service/Application/ObjectModel/Services/Microsoft.Xrm.Sdk.Workflow.xml
/solutions/Marketing/Client/ClientCommon/System.Core.xml
/solutions/Marketing/Client/ClientCommon/System.Core.dll
/solutions/Marketing/Client/ClientCommon/mscorlib.dll
/solutions/Marketing/Client/ClientCommon/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/ClientCommon/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Marketing/Client/ClientCommon/Microsoft.Dynamics.CRM.Client.Common.pdb
/solutions/Marketing/Client/ClientCommon/Microsoft.Dynamics.CRM.Client.Common.dll
/solutions/Marketing/Client/List/System.Core.xml
/solutions/Marketing/Client/List/System.Core.dll
/solutions/Marketing/Client/List/mscorlib.dll
/solutions/Marketing/Client/List/Microsoft.Dynamics.Marketing.Client.ListLibrary.pdb
/solutions/Marketing/Client/List/Microsoft.Dynamics.Marketing.Client.ListLibrary.dll
/solutions/Marketing/Client/List/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/List/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Marketing/Client/BulkOperation/System.Core.xml
/solutions/Marketing/Client/BulkOperation/System.Core.dll
/solutions/Marketing/Client/BulkOperation/mscorlib.dll
/solutions/Marketing/Client/BulkOperation/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/BulkOperation/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Marketing/Client/BulkOperation/Microsoft.Dynamics.Marketing.Client.BulkOperationLibrary.pdb
/solutions/Marketing/Client/BulkOperation/Microsoft.Dynamics.Marketing.Client.BulkOperationLibrary.dll
/solutions/Marketing/Client/Campaign/System.Core.xml
/solutions/Marketing/Client/Campaign/System.Core.dll
/solutions/Marketing/Client/Campaign/mscorlib.dll
/solutions/Marketing/Client/Campaign/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/Campaign/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Marketing/Client/Campaign/Microsoft.Dynamics.Marketing.Client.CampaignLibrary.pdb
/solutions/Marketing/Client/Campaign/Microsoft.Dynamics.Marketing.Client.CampaignLibrary.dll
/solutions/Marketing/Client/CampaignActivity/System.Core.xml
/solutions/Marketing/Client/CampaignActivity/System.Core.dll
/solutions/Marketing/Client/CampaignActivity/mscorlib.dll
/solutions/Marketing/Client/CampaignActivity/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/CampaignActivity/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Marketing/Client/CampaignActivity/Microsoft.Dynamics.Marketing.Client.CampaignActivityLibrary.pdb
/solutions/Marketing/Client/CampaignActivity/Microsoft.Dynamics.Marketing.Client.CampaignActivityLibrary.dll
/solutions/Marketing/Client/CampaignResponse/System.Core.xml
/solutions/Marketing/Client/CampaignResponse/System.Core.dll
/solutions/Marketing/Client/CampaignResponse/mscorlib.dll
/solutions/Marketing/Client/CampaignResponse/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/CampaignResponse/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Marketing/Client/CampaignResponse/Microsoft.Dynamics.Marketing.Client.CampaignResponseLibrary.pdb
/solutions/Marketing/Client/CampaignResponse/Microsoft.Dynamics.Marketing.Client.CampaignResponseLibrary.dll
/solutions/Marketing/Client/MarketingLead/System.Core.xml
/solutions/Marketing/Client/MarketingLead/System.Core.dll
/solutions/Marketing/Client/MarketingLead/mscorlib.dll
/solutions/Marketing/Client/MarketingLead/Microsoft.Dynamics.Marketing.Client.MarketingLeadLibrary.pdb
/solutions/Marketing/Client/MarketingLead/Microsoft.Dynamics.Marketing.Client.MarketingLeadLibrary.dll
/solutions/Marketing/Client/MarketingLead/Microsoft.Dynamics.Marketing.Client.Common.pdb
/solutions/Marketing/Client/MarketingLead/Microsoft.Dynamics.Marketing.Client.Common.dll
/solutions/Sales/Client/_static/sfa/invoice/Legacy/*.js
/solutions/Sales/Client/_static/sfa/invoice/UCI/*.js
/solutions/Sales/Client/_static/sfa/quotes/Legacy/*.js
/solutions/Sales/Client/_static/sfa/quotes/UCI/*.js
/solutions/Sales/Client/_static/sfa/salesorder/Legacy/*.js
/solutions/Sales/Client/ClientCommon/*.js
/solutions/Sales/Client/ClientCommon/Controllers/**/*.js
/solutions/Sales/Client/CommandBarActions/**/*.js
/solutions/Sales/Client/CustomerOpportunityRole/**/*.js
/solutions/Sales/Client/Discount/**/*.js
/solutions/Sales/Client/DynamicProperty/**/*.js
/solutions/Sales/Client/Invoice/**/*.js
/solutions/Sales/Client/InvoiceDetail/**/*.js
/solutions/Sales/Client/Opportunity/**/*.js
/solutions/Sales/Client/OpportunityProduct/**/*.js
/solutions/Sales/Client/ProductPriceLevel/**/*.js
/solutions/Sales/Client/Product/Scripts/*.js
/solutions/Sales/Client/Quote/**/*.js
/solutions/Sales/Client/QuoteDetail/**/*.js
/solutions/Sales/Client/QOIDetail/**/*.js
/solutions/Sales/Client/RecommendationMap/**/*.js
/solutions/Sales/Client/RecommendationModel/**/*.js
/solutions/Sales/Client/SalesLiterature/*.js
/solutions/Sales/Client/SalesOrder/**/*.js
/solutions/Sales/Client/SalesOrderDetail/**/*.js
/solutions/Sales/Client/Territory/**/*.js
/solutions/SalesSMB/Client/**/*.js
/solutions/SalesSMB/Client/**/*.d.ts
/solutions/SalesSMB/Solution/WebResources/SalesSMB/ControlWS/**/*.js
/solutions/SalesSMB/Solution/WebResources/SalesSMB/ControlWS/**/*.d.ts
/solutions/SalesSMB/Client.UnitTests/**/*.js
/solutions/SalesSMB/Package/WebResources/**/*.*
/solutions/Scheduling/Package/WebResources/**/*.*
/solutions/Scheduling/Client/**/*.js
/solutions/Service/Package/WebResources/**/*.js
/solutions/Service/Client/**/*.js
/solutions/Marketing/Package/WebResources/**/*.js
/solutions/Marketing/Package/WebResources/**/*.css
/solutions/Marketing/Package/WebResources/**/*.resx
/solutions/Marketing/Client/**/*.js
/solutions/Marketing/Client/Controls/ActivityPropagationOwnershipOptions/css/*.css
/solutions/Marketing/Client.UnitTests/**/*.js
/solutions/Sales/Package/WebResources/**/*.*
/solutions/MarketingSales/Client/**/*.js
/solutions/MarketingSales/Client.UnitTests/**/*.js
/solutions/MarketingSales/Package/WebResources/**/*.*
/src/Sales/ObjectModel/Entities/System.Runtime.Serialization.dll
/src/Sales/ObjectModel/Entities/System.Core.xml
/src/Sales/ObjectModel/Entities/System.Core.dll
/src/Sales/ObjectModel/Entities/mscorlib.dll
/**/.vs/config/**/*
/src/**/objd/**/*
/src/**/objd/**/*.*
/src/**/obj/**/*
/src/**/bin/**/*
/src/**/gen/**/*
/src/**/buildd*.*
/solutions/**/objd/**/*
/solutions/**/objd/**/*.*
/solutions/**/obj/**/*
/solutions/**/bin/**/*
/solutions/**/gen/**/*
/solutions/**/buildd*.*
/tools/**/obj/**/*
/tools/**/objd/**/*
/tools/**/bin/**/*
refreshtest.log
/settings.json
*.coverage
/build/include/Environment.targets
/**/*.StyleCop
/solutions/Service/Package/WebResources/
/solutions/Sales/Client/**/*.d.ts
/solutions/Sales/Client/Localization/**/*.js
/solutions/Marketing/Client/**/*.d.ts
/solutions/MarketingSales/Client/**/*.d.ts
/solutions/Service/Client/**/*.d.ts
/solutions/Service/Plugins/Microsoft.Dynamics.CRM.Plugins.pdb
/solutions/Service/Plugins/Microsoft.Dynamics.CRM.Plugins.dll
/Microsoft.Dynamics.CRM.Plugins.pdb
/Microsoft.Dynamics.CRM.Plugins.dll
/solutions/Service/Client/**/*.d.ts
/temp.txt
# Loc related temp file
/tools/Localize/Temp
/solutions/AppCommon/Client/**/*.d.ts
/solutions/Marketing/Package/WebResources/Marketing/PluginResources
/solutions/SalesService/Package/WebResources/SalesService/PluginResources
/solutions/CRMExtensions/Package/WebResources/CRMExtensions/PluginResources
/solutions/CustomerServiceHub/Package/WebResources/CustomerServiceHub/_imgs/AppIcon/CustomerServiceHubIcon.svg
/**/build.log
/solutions/CRMExtensions/Package/WebResources/CRMExtensions/PluginResources
/solutions/AppCommon/Client/ClientCommon/*.js
/solutions/CRMExtensions/Solution/Maps/**
/**/*_packager.log
/solutions/Sales/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb/F0354A4C026E4AD3A1749C96A3C3CD721/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
/solutions/Sales/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb/1C62F89F813F45E7AA4AAA104BC54C1C1/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb
*.error
/solutions/Sales/pingme.txt
/solutions/Sales/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb/C5ECC7DF1B3F46358C65B0B3FD6C03DD1/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb
/solutions/TypeDefinitions/**/*.d.ts
/solutions/CustomerServiceHub/Package/WebResources/CustomerServiceHub/_imgs/Sitemap/Library.svg
/solutions/CustomerServiceHub/Package/WebResources/CustomerServiceHub/_imgs/Sitemap/Help.svg
